<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT | video15</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white">
        <h2 class="pt-3 text-left pl-5 font-bold text-3xl">Welcome ! Log in Your Account</h2>
        <form action="/login" method="post" class="pt-5 flex justify-evenly align-middle flex-wrap gap-3">
            
            <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-600 outline-none " type="email" name="email" placeholder="email">
            
            <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-600 outline-none " type="text" name="password" placeholder="password">
            <input class="pt-[3px] pb-[3px] text-black font-semibold px-5 py-5 rounded-3xl bg-green-500" type="submit" value="Login">
        </form>
    </div>
</body>
</html>